
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Events</title>
</head>
<body>
    

{% block nav %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'listEvents' %}">Events</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'listEvents' %}">List events</a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'addEvent' %}">Add event</a>
        </li>

       
                <li class="nav-item">
          <a class="nav-link" href="{% url 'addClass' %}">Add event with class</a>
        </li>
         {% else %}

        {% endif %}
    
    </div>

    {% if user.is_authenticated %}
   <h3>welcome  {{user}} </h3> 

   <a href="{% url 'logout' %}" class="btn btn-danger mx-3"> logout</a>
   {% else %}

   <a href="{% url 'login' %}" class="btn btn-success mx-2">Login</a>

      <a href="{% url 'register' %}" class="btn btn-warning">Register</a>


      {% endif %}
  </div>
</nav>

{% endblock %}




{% block content %}


{% endblock %}

</body>
</html>