{% extends 'base.html' %}


{% block content %}
 <div class="container w-25 mt-5" >
<form method="post" class="form-group">


    {% csrf_token %}

   
    <div class="mb-3 ">
        <label for="">Username</label>
        <input type="text" name="username" class="form-control">
    </div>

     <div class="mb-3">
        <label for="">Password</label>
        <input type="password" name="password" class="form-control">
    </div>

    <input type="submit" value="Login" class="btn btn-success">

</form>
</div>

{% endblock %}